shareClient/shareClient/xml-resources/web-service-references/shareBroker_1/wsdl/localhost_8080/shareBroker/shareBroker.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://shares/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://shares/" name="shareBroker">
<types>
<xsd:schema>
<xsd:import namespace="http://shares/" schemaLocation="http://localhost:8080/shareBroker/shareBroker?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="listAvailableShares">
<part name="parameters" element="tns:listAvailableShares"/>
</message>
<message name="listAvailableSharesResponse">
<part name="parameters" element="tns:listAvailableSharesResponse"/>
</message>
<message name="JAXBException">
<part name="fault" element="tns:JAXBException"/>
</message>
<message name="listCurrency">
<part name="parameters" element="tns:listCurrency"/>
</message>
<message name="listCurrencyResponse">
<part name="parameters" element="tns:listCurrencyResponse"/>
</message>
<message name="listPrice">
<part name="parameters" element="tns:listPrice"/>
</message>
<message name="listPriceResponse">
<part name="parameters" element="tns:listPriceResponse"/>
</message>
<message name="updateShares">
<part name="parameters" element="tns:updateShares"/>
</message>
<message name="updateSharesResponse">
<part name="parameters" element="tns:updateSharesResponse"/>
</message>
<message name="listSymbol">
<part name="parameters" element="tns:listSymbol"/>
</message>
<message name="listSymbolResponse">
<part name="parameters" element="tns:listSymbolResponse"/>
</message>
<message name="listShares">
<part name="parameters" element="tns:listShares"/>
</message>
<message name="listSharesResponse">
<part name="parameters" element="tns:listSharesResponse"/>
</message>
<message name="addCompany">
<part name="parameters" element="tns:addCompany"/>
</message>
<message name="addCompanyResponse">
<part name="parameters" element="tns:addCompanyResponse"/>
</message>
<message name="IOException">
<part name="fault" element="tns:IOException"/>
</message>
<message name="listName">
<part name="parameters" element="tns:listName"/>
</message>
<message name="listNameResponse">
<part name="parameters" element="tns:listNameResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="listNames">
<part name="parameters" element="tns:listNames"/>
</message>
<message name="listNamesResponse">
<part name="parameters" element="tns:listNamesResponse"/>
</message>
<portType name="shareBroker">
<operation name="add">
<input wsam:Action="http://shares/shareBroker/addRequest" message="tns:add"/>
<output wsam:Action="http://shares/shareBroker/addResponse" message="tns:addResponse"/>
</operation>
<operation name="listAvailableShares">
<input wsam:Action="http://shares/shareBroker/listAvailableSharesRequest" message="tns:listAvailableShares"/>
<output wsam:Action="http://shares/shareBroker/listAvailableSharesResponse" message="tns:listAvailableSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/listAvailableShares/Fault/JAXBException"/>
</operation>
<operation name="listCurrency">
<input wsam:Action="http://shares/shareBroker/listCurrencyRequest" message="tns:listCurrency"/>
<output wsam:Action="http://shares/shareBroker/listCurrencyResponse" message="tns:listCurrencyResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/listCurrency/Fault/JAXBException"/>
</operation>
<operation name="listPrice">
<input wsam:Action="http://shares/shareBroker/listPriceRequest" message="tns:listPrice"/>
<output wsam:Action="http://shares/shareBroker/listPriceResponse" message="tns:listPriceResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/listPrice/Fault/JAXBException"/>
</operation>
<operation name="updateShares">
<input wsam:Action="http://shares/shareBroker/updateSharesRequest" message="tns:updateShares"/>
<output wsam:Action="http://shares/shareBroker/updateSharesResponse" message="tns:updateSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/updateShares/Fault/JAXBException"/>
</operation>
<operation name="listSymbol">
<input wsam:Action="http://shares/shareBroker/listSymbolRequest" message="tns:listSymbol"/>
<output wsam:Action="http://shares/shareBroker/listSymbolResponse" message="tns:listSymbolResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/listSymbol/Fault/JAXBException"/>
</operation>
<operation name="listShares">
<input wsam:Action="http://shares/shareBroker/listSharesRequest" message="tns:listShares"/>
<output wsam:Action="http://shares/shareBroker/listSharesResponse" message="tns:listSharesResponse"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/listShares/Fault/JAXBException"/>
</operation>
<operation name="addCompany">
<input wsam:Action="http://shares/shareBroker/addCompanyRequest" message="tns:addCompany"/>
<output wsam:Action="http://shares/shareBroker/addCompanyResponse" message="tns:addCompanyResponse"/>
<fault message="tns:IOException" name="IOException" wsam:Action="http://shares/shareBroker/addCompany/Fault/IOException"/>
<fault message="tns:JAXBException" name="JAXBException" wsam:Action="http://shares/shareBroker/addCompany/Fault/JAXBException"/>
</operation>
<operation name="listName">
<input wsam:Action="http://shares/shareBroker/listNameRequest" message="tns:listName"/>
<output wsam:Action="http://shares/shareBroker/listNameResponse" message="tns:listNameResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://shares/shareBroker/listName/Fault/Exception"/>
</operation>
<operation name="listNames">
<input wsam:Action="http://shares/shareBroker/listNamesRequest" message="tns:listNames"/>
<output wsam:Action="http://shares/shareBroker/listNamesResponse" message="tns:listNamesResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://shares/shareBroker/listNames/Fault/Exception"/>
</operation>
</portType>
<binding name="shareBrokerPortBinding" type="tns:shareBroker">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listAvailableShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listCurrency">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="updateShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listSymbol">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listShares">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="addCompany">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="IOException">
<soap:fault name="IOException" use="literal"/>
</fault>
<fault name="JAXBException">
<soap:fault name="JAXBException" use="literal"/>
</fault>
</operation>
<operation name="listName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="listNames">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="shareBroker">
<port name="shareBrokerPort" binding="tns:shareBrokerPortBinding">
<soap:address location="http://localhost:8080/shareBroker/shareBroker"/>
</port>
</service>
</definitions>